/*-- home page --*/

/*--- navigation style ---*/

body{
    background: #acbef5;
    color:black
    
}

.box1{
    background-color: rgb(130,162,255);
    height: 176px;
    border-radius:16px;
}

.title{
    text-align: center;
    padding: 13px;
}
.menu{
    align-items: bottom;
    background-color: rgb(108,146,255);
    border : 4px solid black; 
    width:1400px;
    height:70px;
    border-radius:16px;
}

li{
    display: inline-block;
    align-items: bottom;
    padding-top: 30px;
}

li a{
    color: black ;
    margin-right: 25px;
    text-align:center;
    text-decoration: none;
    padding: auto;

}

li a:hover{
    color: black;
    background-color: rgb(26,77,226) ;
    width: 100px;

}


/*--introduction box--*/

.box2{
    display:center;
    background-color: rgb(151,172,236);
    text-align: center;
    height: 360px;
    width: 1000px;
    align-items: center;
    border-radius: 14px;
    flex-direction: column;
    margin-top: 35px;
    padding: 30px;
    margin-left:300px;
    
    
}

.search{
    background-color: whitesmoke;
    width:300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 350px;
    margin-top: 90px;
    border-radius: 18px;
}
.text{
    font-size: 23px;
}
/*-- job box --*/

.box3{
    /*margin: 100px auto;*/

    height: 400px;
    display: flex;
    overflow-x: auto;
}

.box3::-webkit-scrollbar {
    display:none;
}
.JobMatch{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: spin 80s infinite linear;
    padding-right: 20px;
}
.job{
    /*flex: 0 0 5em;*/
    height: 350px;
    width: 300px;
    padding: 20px;
    background-color: rgb(151,172,236);
    border-radius: 2em;
    text-align: center;
    align-content: center;

}

@keyframes spin{
    from { translate:0 ;}
    to {translate: -100%;}
}

/*-- CV Analysis --*/
.box4{
    background-color: rgb(222, 224, 232);
    height: 350px;
    width: 1020px;
    text-align: center;
    margin-left: 330px;
    margin-top: 60px;
    border-radius: 16px;
    font-size: 28px;
}

.box5{
    background-color: rgb(222, 224, 232);
    height: 350px;
    width: 1000px;
    text-align: left;
    margin-left: 350px;
    margin-top: 60px;
    border-radius: 16px;
    font-size: 27px;
}

/*-- 